.kse-blogfiltercard {
    width: 100%;
    max-width: 460px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(2px);
    border-radius: 24px;
    padding: 40px 30px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);

    &__outer {
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        min-height: 650px;
    }

    &__title {
        font-family: "Acumin Variable Concept";
        font-size: 32px;
        line-height: 40px;
        font-weight: 700;
        color: #414141;
        margin-bottom: 34px;
    }

    &__formgrp {
        margin-bottom: 22px;
        position: relative;

        label {
            display: block;
            font-size: 16px;
            font-family: "Acumin Variable Concept";
            color: #414141;
            margin-bottom: 10px;
        }

        &::after {
            content: "";
            position: absolute;
            right: 20px;
            top: 53px;
            width: 14px;
            height: 14px;
            background-image: url('/assets/images/ks-form-dwnarrow.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            pointer-events: none;
            transition: transform 0.25s ease;
        }

        &:has(.kse-blogfiltercard__cstmselect:open)::after {
            transform: rotate(180deg);
        }
    }

    &__cstmselect {
        width: 100%;
        padding: 16px 20px;
        border: 2px solid #fff;
        border-radius: 8px;
        background: #fff;
        font-size: 16px;
        font-family: "Acumin Variable Concept";
        color: #414141;
        cursor: pointer;
        outline: none;
        transition: 0.25s ease;
        appearance: base-select;

        &:has(option[value=""]:checked) {
            color: #a0a0a0;
        }

        &::picker(select) {
            appearance: base-select;
        }

        &:focus {
            box-shadow: 0 0 0 4px rgba(255, 68, 84, 0.12);
        }

        &::picker-icon {
            opacity: 0;
        }

        // dropdown
        &::picker(select) {
            border: none;
            margin-top: 8px;
            border-radius: 16px;
            overflow: hidden;
            background: #fff;
            opacity: 0;
            transition: all 0.2s ease allow-discrete;
        }

        // open
        &:open::picker(select) {
            opacity: 1;
        }

        &::picker(select) {
            transform: translateY(10px);
            transition:
                opacity 0.2s ease,
                transform 0.2s ease,
                overlay 0.2s allow-discrete,
                display 0.2s allow-discrete;
        }

        &:open::picker(select) {
            transform: translateY(0);
        }

        option {
            padding: 16px 20px;
            background: #fff;
            color: #2d3945;
            font-size: 16px;
            border-bottom: 1px solid #ececec;
            transition: 0.2s ease;
        }

        option:last-of-type {
            border-bottom: none;
        }

        option:hover,
        option:focus {
            background: #ff4454;
            color: #fff;
        }

        option:checked {
            background: #ff4454;
            color: #fff;
        }

        option::checkmark {
            display: none;
        }
    }

    .kse-btn {
        width: 100%;
        border-radius: 6px;
        font-size: 18px;
    }
}