.kse-contactuspage {
    padding: 40px 0;
    &__out {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        width: 100%;
    }
    .kse-findus, .kse-contactus {
        width: calc(50% - 16px);
    }
    .kse-btn {
        width: 40%;
    }
}

@include mobile {
    .kse-contactuspage {

        &__out {
            flex-direction: column;
        }
        .kse-findus, .kse-contactus {   
            width: 100%;
        }
    }
}