.kse-filterNav{
    padding: 0px;
    font-family: "Acumin Pro Condensed";
    &__heading{
        font-family: "Acumin Pro Condensed";
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    &__item{
        padding: 0px;
        border: none !important;

    }
    &__list{
        border-bottom:1px solid #ccc;
        padding: 7px 0px;
        box-shadow: none !important;
        background: none;
        background-color: transparent !important;
        border-radius: 0px;
        font-family: "Acumin Pro Condensed";
        font-size: 19px;
        font-weight: 600;
        margin-bottom: 10px;

        &:focus{
            border-bottom: 1px solid #ccc;
        }

        &:not(.collapsed) {
             border-bottom:1px solid #f14a50;
             color: #f14a50;

            &::after{
                background:url('data:image/svg+xml,<svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.14689 4.14689C1.19334 4.10033 1.24852 4.06339 1.30926 4.03818C1.37001 4.01297 1.43513 4 1.50089 4C1.56666 4 1.63178 4.01297 1.69253 4.03818C1.75327 4.06339 1.80845 4.10033 1.85489 4.14689L7.50089 9.79389L13.1469 4.14689C13.1934 4.10041 13.2486 4.06353 13.3093 4.03837C13.37 4.01321 13.4351 4.00026 13.5009 4.00026C13.5666 4.00026 13.6317 4.01321 13.6925 4.03837C13.7532 4.06353 13.8084 4.10041 13.8549 4.14689C13.9014 4.19338 13.9383 4.24857 13.9634 4.30931C13.9886 4.37005 14.0015 4.43515 14.0015 4.50089C14.0015 4.56664 13.9886 4.63174 13.9634 4.69248C13.9383 4.75322 13.9014 4.80841 13.8549 4.85489L7.85489 10.8549C7.80845 10.9015 7.75327 10.9384 7.69253 10.9636C7.63178 10.9888 7.56666 11.0018 7.50089 11.0018C7.43513 11.0018 7.37001 10.9888 7.30926 10.9636C7.24852 10.9384 7.19334 10.9015 7.14689 10.8549L1.14689 4.85489C1.10033 4.80845 1.06339 4.75327 1.03818 4.69253C1.01297 4.63178 1 4.56666 1 4.50089C1 4.43513 1.01297 4.37001 1.03818 4.30926C1.06339 4.24852 1.10033 4.19334 1.14689 4.14689Z" fill="%23E44A73"/></svg>');
            }
        }
    }
    &__check{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1.5px solid #ccc;
        &-input{
            margin-top: 0px;
            border-radius: 2px !important;
            height: 15px;
            width: 15px;
            accent-color: #f14a50;
        }
        &-label{
            font-size: 15px;
            height: 15px;
            display: flex;
            font-weight: 500;
            font-family: "Acumin Variable Concept";
        }
    }
}

@include tablet {
    .kse-filterNav {
        &__heading {
            font-size: 14px;
        }

        &__list {
            font-size: 16px;
        }
    }
}
@include mobile {
    .kse-filterNav {
        &__heading {
            font-size: 14px;
        }

        &__list {
            font-size: 16px;
        }
    }
}