.kse-goodchkn {
    background-color: #680a38;
    &__out {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 32px;
        padding: 90px 0px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;

        .kse-btn {
            width: 50%;
            text-align: center;
            padding: 12px 4px;
        }
    }
    &__head {
        font-size: 52px;
        line-height: 1;
        color: #fff;
        font-weight: 600;
        margin-bottom: 20px;
        text-align: center;
        font-family: "Accumin";
    }
    &__tilesout {
        display: flex;
        gap: 20px;
        width: 60%;
    }
    &__tilesection {
        width: 100%;
        display: flex;
        gap: 26px;
        justify-content: space-between;

        .kse-PdTile__title a {
            color: #fff;
        }
    }
    .kse-PdTile {
        width: calc(33.3% - 12px);
    }
    .kse-PdTile__title {
        color: #fff;
        font-size: 18px;
        font-family: "Acumin";
        font-weight: 600;
    }
    .kse-PdTile__price {
        color: #fff;
        font-size: 16px;
        padding-bottom: 0px;
    }
} 

@include tablet-pro {
    .kse-goodchkn {
        &__content {
            width: 32%;
            .kse-btn {
                width: 60%;
            }
        }
        &__tilesout {
            width: 68%;
        }
        &__head {
            font-size: 40px;
        }
    }
}
@include tablet {
    .kse-goodchkn {
        &__out {
            flex-direction: column;
            min-height: auto;
            padding: 24px 0;
        }
        &__content {
            width: 100%;
            .kse-btn {
                width: 30%;
            }
        }
        &__tilesout {
            width: 100%;
        }
    }
}
@include mobile {
    .kse-goodchkn {
        &__out {
            flex-direction: column;
            min-height: auto;
            padding: 24px 0;
        }
        &__content {
            width: 100%;
            .kse-btn {
                width: 30%;
            }
        }
        &__tilesout {
            width: 100%;
        }
         &__head {
            font-size: 32px;
        }
        &__tilesection {
           flex-wrap: wrap;
        }
        .kse-PdTile {
            width: calc(50% - 16px);
        }
    }
}