.kse-meal-outer {
    background: linear-gradient(180deg,
            #ffffff 0%,
            #fef5f6 25%,
            #fce2e6 50%);
    display: flex;
    gap: 20px;
    margin-bottom: 40px;

    .kse-meal-filter {
        width: 25%;
        padding: 24px 0px 24px 24px;

        .accordion-item {
            background-color: unset;
        }

        .kse-filterNav__check-label {
            font-size: 14px;
        }
    }

    .kse-meal-recipes {
        .kse-meal-recipes__title a {
            font-size: 14px;
        }
    }
}