.kse-pdp {

    &__out {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .pdp-productsec {
        width: 75%;
    }
    .kse-greatwith {
        width: 25%;
    }
}

@include tablet {
    .kse-pdp {
        .pdp-productsec {
        width: 50%;
    }
    .kse-greatwith {
        width: 50%;
    }
    }
}
@include mobile {
    .kse-pdp {
        &__out {
            flex-direction: column;
        }
        .pdp-productsec {
        width: 100%;
    }
    .kse-greatwith {
        width: 100%;
    }
    }
}