.pdp-productsec {
  padding: 40px 0;

  &__out {
    display: flex;
    gap: 40px;
    align-items: flex-start;
  }

  &__images {
    width: 50%;

    .main-img {
      position: relative;
      border-radius: 12px;
      overflow: hidden;
      cursor: zoom-in;
      width: 100%;
      height: auto;

      img {
        width: 100%;
        display: block;
        transition: transform 0.2s ease;
        z-index: 1;
        object-fit: cover; 
      }

      .offer-badge {
        position: absolute;
        top: 15px;
        left: 0;
        background: #4caf50;
        color: #fff;
        padding: 8px 20px;
        font-weight: bold;
        font-size: 18px;
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
        z-index: 5; 
      }
    }

    .thumbs {
      display: flex;
      gap: 10px;
      margin-top: 15px;

      img {
        width: 86px;
        height: 86px;
        object-fit: cover;
        border-radius: 6px;
        cursor: pointer;
        border: 2px solid transparent;

        &:hover {
          border-color: #000;
        }
        &.active {
          border-color: #f14a50;
        }
      }
    }
  }

  &__details {
    width: 50%;

    .title {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 15px;
      font-family: begum;
      height: 77px;
    }

    p {
      margin-bottom: 8px;
      color: #333;
      font-family: "Acumin Pro Condensed";

      strong {
        color: #000;
        font-size: 18px;
      }
    }

    .price {
      margin: 20px 0;

      .new {
        font-size: 26px;
        font-weight: bold;
        margin-right: 15px;
        font-family: "Acumin Pro Condensed";
      }

      .old {
        text-decoration: line-through;
        color: #aaa;
        font-size: 18px;
      }
    }

    .quantity {
      display: flex;
      align-items: center;
      gap: 15px;
      margin: 20px 0;
      margin-top: 50px;
      font-family: "Acumin Pro Condensed";

      .qty-box {
        display: flex;
        align-items: center;

        button {
          background: none;
          border: none;
          padding: 8px 12px;
          font-size: 18px;
          cursor: pointer;
        }

        input {
          width: 40px;
          text-align: center;
          border-top: none;
          border-bottom: none;
          border-right: 1px solid #ccc;
          border-left: 1px solid #ccc;
        }
      }
    }

    .actions {
      display: flex;
      gap: 15px;
      margin-top: 20px;
      flex-direction: column;
    }

    .note {
      display: inline-block;
      margin-top: 10px;
      font-size: 14px;
      color: #414141;
      font-family: "Acumin Pro Condensed";
    }
  }

  .kse-btn--sec.wishlist {
    width: 50%;
  }
  .kse-btn--sec.cart {
    width: 50%;
  }

  .kse-PdTile__badge {
    font-size: 16px;
    font-family: "Acumin Pro Condensed";
  }
}

@media (min-width: 1350px) and (max-width: 1400px) {
  .pdp-productsec {
    .kse-btn--sec.cart {
      width: 50%;
    }
    .kse-btn--sec.wishlist {
      width: 50%;
    }
    &__images {
      .thumbs {
        img {
          width: 75px;
          height: 75px;
        }
      }
    }
    &__details {
      .quantity {
        margin-top: 50px;
      }
    }
  }
}
@media (min-width: 1200px) and (max-width: 1300px) {
  .pdp-productsec {
    .kse-btn--sec.cart {
      width: 50%;
    }
    .kse-btn--sec.wishlist {
      width: 50%;
    }
    &__images {
      .thumbs {
        img {
          width: 75px;
          height: 75px;
        }
      }
    }
    &__details {
      .quantity {
        margin-top: 40px;
      }
    }
  }
}

@include tablet-pro {
  .pdp-productsec {
    .kse-btn--sec.cart {
      width: 40%;
    }
    .kse-btn--sec.wishlist {
      width: 40%;
    }
    &__images {
      .thumbs {
        img {
          width: 60px;
          height: 60px;
        }
      }
    }
    &__details {
      .quantity {
        margin-top: 60px;
      }
    }
  }
}

@include tablet {
  .pdp-productsec {
    &__out {
      flex-direction: column;
    }
    &__images {
      width: 100%;
      .thumbs {
        img {
          width: 70px;
          height: 70px;
        }
      }
    }
    &__details {
      width: 100%;

      .quantity {
        margin-top: 0;
      }
    }
    .kse-btn--sec.cart {
      width: 45%;
    }
    .kse-btn--sec.wishlist {
      width: 45%;
    }
  }
}

@include mobile {
  .pdp-productsec {
    &__out {
      flex-direction: column;
    }
    &__images {
      width: 100%;
      .thumbs {
        img {
          width: 80px;
          height: 80px;
        }
      }
    }
    &__details {
      width: 100%;

      .quantity {
        margin-top: 0;
      }
    }
    .kse-btn--sec.cart {
      width: 45%;
    }
    .kse-btn--sec.wishlist {
      width: 45%;
    }
  }
}
