.kse-recipe-popup {
   position: fixed;
   inset: 0;
   z-index: 999;
   display: flex;
   align-items: center;
   justify-content: center;
   &__overlay {
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.6);
   }
   &__modal {
      position: relative;
      z-index: 2;
      width: 100%;
      max-width: 1000px;
      max-height: 90vh;
      overflow-x: hidden;
      overflow-y: auto;
      margin: 0 20px;
      background: #fff;
   }
   &__inner {
      font-family: "Acumin Pro Condensed";
      padding: 10px 0;
   }

   &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
   }

   &__logo {
      height: 50px;
   }

   &__actions {
      display: flex;
      gap: 12px;
   }

   &__icon {
      padding: 0;
      img {
         width: 40px;
         height: 40px;
         transition: filter 0.3s ease;
      }
      &:hover {
         img {
            filter: brightness(1.5);
         }
      }
   }

   &__hero {
      display: flex;
      width: 94%;
   }

   &__hero-img {
      width: 52%;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__hero-content {
      width: 48%;
      background: #f05b72;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 7px;
      font-family: "Begum";
      text-align: center;
      padding: 40px;
      border-radius: 0 40px 40px 0;
   }

   &__tag {
      font-size: 14px;
      margin-bottom: 10px;
      color: #fff;
   }

   &__title {
      font-size: 32px;
      font-weight: 700;
      color: #680a38;
   }
   &__subtitle {
      font-family: "Acumin Variable Concept";
      font-size: 16px;
      color: #fff;
      text-wrap: balance;
      margin: 12px 0;
   }
   &__note {
      font-family: "Acumin Pro Condensed";
      font-size: 14px;
      font-weight: 600;
      color: #fff;
   }
   &__stats {
      margin-top: auto;
      display: flex;
      justify-content: center;
      gap: 30px;
   }

   &__stats-item {
      display: flex;
      gap: 5px;

      img {
         width: 32px;
         height: 32px;
      }

      p {
         font-family: "Acumin Pro Condensed";
         font-size: 16px;
         font-weight: 600;
         line-height: 1.3;
         color: #fff;
         margin: 0;
         text-align: left;
      }
   }

   &__body {
      display: flex;
      gap: 40px;
      padding: 40px 20px;
   }

   &__col {
      flex: 1;
   }

   &__heading {
      display: inline-flex;
      align-items: center;
      background: #eaebec;
      color: #f05b72;
      border-radius: 30px;
      font-weight: 600;
      margin-bottom: 20px;
      min-width: 300px;
      p {
         font-size: 22px;
         padding-left: 20px;
      }
   }

   &__heading-icon {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: #f05b72;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
         width: 40px;
      }
   }

   &__content {
      font-family: "Acumin Variable Concept";
      font-size: 14px;
      line-height: 1.6;
      color: #4d4d4f;

      ol {
         padding-left: 16px;
      }

      li {
         list-style-type: auto;
         padding-left: 12px;
         margin-bottom: 14px;
         line-height: 1.4;
         text-wrap: balance;
      }
      p {
         margin-bottom: 14px;
      }
   }
   &__cta {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      .kse-btn--sec.cart {
         font-size: 20px;
         width: 190px;
      }
   }

   &__footer {
      background: linear-gradient(
         to right,
         #fcd8de 0%,
         #ffffff 20%,
         #ffffff 80%,
         #fcd8de 100%
      );
      padding: 50px 0;
      margin: 30px 0;
   }

   &__footerwrap {
      position: relative;
      span {
         font-family: "Acumin Variable Concept";
         font-size: 12px;
         color: #4d4d4f;
      }
   }

   &__link {
      font-family: "Acumin Variable Concept";
      font-size: 12px;
      color: #4d4d4f;
      &:hover {
         color: #121212;
      }
      margin-right: 130px;
   }

   &__duck {
      position: absolute;
      right: 20px;
      bottom: -65px;
      width: 130px;
   }
   &__sliderwrap {
      padding: 0 40px;
   }
   &__slider {
      position: relative;
   }
   &__slidertrack {
      padding: 20px 0 60px;
      overflow: hidden;

      .slick-list {
         margin: 0 -12px;
      }
      .kse-PdTile {
         padding: 0 16px;
      }
   }
   .kse-PdTile__badge {
      font-family: "Acumin Pro Condensed";
      font-size: 22px;
      line-height: 1;
      padding: 3px 30px 0px 20px;
   }

   .kse-arrow {
      position: absolute;
      top: 35%;
      width: 40px;
      height: 40px;
      background: #eaebec;
      border-radius: 50%;
      z-index: 5;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.25s ease;
      &:hover {
         background: #f14a50;
         transform: translateY(-2px);
         box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
         &::before {
            border-color: #fff;
         }
      }
      &.slick-disabled {
         background: #f2f2f2;
         cursor: not-allowed;
         opacity: 0.6;
         box-shadow: none;
         transform: none;
         &::before {
            border-color: #bdbdbd;
         }
      }
   }

   .kse-arrow--prev {
      left: -60px;
      padding-left: 12px;
   }

   .kse-arrow--next {
      right: -60px;
      padding-right: 12px;
   }

   /* Arrow icon */
   .kse-arrow::before {
      content: "";
      width: 16px;
      height: 16px;
      border-top: 2px solid #6f6f72;
      border-right: 2px solid #6f6f72;
      display: block;
   }

   .kse-arrow--prev::before {
      transform: rotate(-135deg);
   }

   .kse-arrow--next::before {
      transform: rotate(45deg);
   }
}
@include tablet {
   .kse-recipe-popup {
      &__body {
         gap: 20px;
      }
      &__hero-content {
         padding: 40px 20px;
      }
      &__stats {
         gap: 12px;
         margin-top: 30px;
         justify-content: space-between;
      }
      &__cta {
         margin-top: 0;
         margin-bottom: 60px;
      }
      &__stats-item p {
         font-size: 14px;
      }
   }
}

@include mobile {
   .kse-recipe-popup {
      &__modal {
         max-height: 95vh;
         border-radius: 10px;
      }

      &__inner {
         padding-bottom: 0px;
      }
      &__hero {
         flex-direction: column;
         width: 100%;
         padding: 0 16px;
      }
      &__stats {
         gap: 12px;
         margin-top: 30px;
         justify-content: space-between;
      }
      &__stats-item {
         p {
            font-size: 13px;
         }
         img {
            width: 28px;
            height: 28px;
         }
      }
      &__cta {
         margin-top: 0;
         margin-bottom: 60px;
      }

      &__hero-img,
      &__hero-content {
         width: 100%;
      }
      &__hero-content {
         padding: 30px 20px;
      }
      &__hero-img {
         img {
            display: block;
            border-radius: 20px 20px 0 0;
         }
      }
      &__heading {
         min-width: 100%;
      }

      &__hero-content {
         border-radius: 0 0 20px 20px;
         text-align: center;
      }

      &__body {
         flex-direction: column;
      }

      &__link {
         margin-right: 80px;
      }

      &__duck {
         width: 80px;
         right: 0;
         bottom: 40px;
      }
      .kse-arrow--prev {
         left: -50px;
      }

      .kse-arrow--next {
         right: -50px;
      }
   }
}
