.kse-terms {
    width: 100%;
    padding: 40px 0px;
    font-family: "Acumin Variable Concept";

    &__outer {
        background: #f2f2f2;
        border-radius: 10px;
    }

    &__banner {
        width: 100%;
        background: #eb5871;
        border-radius: 10px;
        padding: 42px 20px;
        text-align: center;

        h1 {
            color: #ffffff;
            font-size: 52px;
            font-weight: 700;
            line-height: 1.1;
            font-family: "Begum";

            span {
                display: block;
            }
        }
    }

    &__content {
         width: 100%;
        max-width: 980px;
        margin: 0 auto;
        padding: 70px 40px 90px;
    }

    &__section {
        margin-bottom: 46px;

        &:last-child {
            margin-bottom: 0;
        }

        h2 {
            color: #73003f;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.5;
            margin-bottom: 18px;
        }

        p {
            color: #73003f;
            font-size: 16px;
            line-height: 1.8;
        }

        ul {
            margin-top: 14px;
            padding-left: 0;
            list-style: none;

            li {
                position: relative;
                padding-left: 22px;
                color: #73003f;
                font-size: 16px;
                line-height: 1.8;
                margin-bottom: 8px;

                &::before {
                    content: "–";
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 991px) {

    .kse-terms {

        &__banner {

            h1 {
                font-size: 46px;
            }
        }

        &__content {
            padding: 55px 30px 70px;
        }
    }
}


@media (max-width: 767px) {

    .kse-terms {
        padding: 20px 12px;

        &__banner {
            padding: 30px 20px;

            h1 {
                font-size: 34px;
            }
        }

        &__content {
            padding: 40px 20px 60px;
        }

        &__section {
            margin-bottom: 38px;

            h2 {
                font-size: 20px;
            }

            p {
                font-size: 15px;
                line-height: 1.7;
            }

            ul {

                li {
                    font-size: 15px;
                    line-height: 1.7;
                    padding-left: 18px;
                }
            }
        }
    }
}