.kse-offer-card {
  position: relative;
  width: 188px;
  border-radius: 20px;
  overflow: hidden;
  font-family: Georgia, serif;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease;
  }

  &:hover .kse-offer-card__image {
    transform: scale(1.1);
  }

  &__content {
    position: absolute;
    inset: 0;
    padding: 30px 15px;
    background: rgba(0, 0, 0, 0.15);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
  }

  &__discount {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    font-size: 75px;
    line-height: 70px;
    font-weight: 700;
    font-family: Georgia, serif;
    &--b{
      font-size: 42px;
      line-height: 48px;
      white-space: nowrap;
    }
  }
  &__text{
    font-size: 16px;
    color: #fff;
    margin-top: 15px;
  }

  &__percent {
    font-size: 65px;
    font-weight: 700;
  }

  &__off {
    font-size: 65px;
    font-weight: 700;
  }

  &__subtitle {
    font-size: 22px;
    margin-top: 5px;
    font-family: "Begum";
    font-weight: 700;
  }

  &__item {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__btn {
    align-self: center;
    background: #fff;
    color: #e53935;
    border: none;
    border-radius: 30px;
    padding: 8px 25px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: #f1f1f1;
    }
  }

  .kse-btn--whtpill {
    width: 100%;
    padding: 5px 24px !important;
  }
}

@include mobile {
  .kse-offer-card {
    .kse-btn--whtpill {
      width: 45%;
    }

    &__content {
      align-items: center;
    }
  }
}