.kse-paymentbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #fcdde2 0%, #fef0f2 50%, #fcdde2 100%);
    padding: 25px 30px;
    border-radius: 14px;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;

    &__left {
        width: 35%;
    }

    &__left h3 {
        color: #ff4d4d;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
        font-family: "Acumin Pro Condensed";
    }

    &__left p {
        font-size: 14px;
        color: #000;
        max-width: 320px;
        line-height: 18px;
        font-family: "Acumin Variable Concept";
        width: 40%;

    }

    &__right {
        display: flex;
        width: 60%;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
    }

    &__option {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
    }

    &__option input {
        accent-color: #ff4d4d;
        cursor: pointer;
        width: 14px;
        height: 14px;
    }

    &__option img {
        height: 26px;
        object-fit: contain;
        transition: 0.3s ease;
    }

    &__option:hover img {
        transform: scale(1.1);
    }

    &__option input:checked+img {
        transform: scale(1.15);
    }
}