.kse-PdTile {
   // width: 260px;
   // background: #f5f5f5;
   // border-radius: 8px;
   overflow: hidden;

   &--b {
      border-radius: 4px;

      .kse-PdTile__image {
         border-radius: 24px;
      }

      .kse-PdTile__badge {
         top: 0;
      }

      .kse-PdTile__desc {
         display: none;
      }

      .kse-PdTile__price {
         margin: 8px 0px;
      }
   }

   &__image-wrapper {
      position: relative;
   }

   &__image {
      width: 100%;
      display: block;
      border-radius: 10px;
   }

   &__badge {
      height: 30px;
      position: absolute;
      top: 0px;
      left: 0;
      background: #4caf50;
      color: #fff;
      font-weight: bold;
      font-size: 18px;
      font-family: "Acumin Variable Concept";
      padding: 6px 20px 6px 12px;
      clip-path: polygon(0% 0%, 100% 0%, 85% 50%, 100% 100%, 0% 100%);

      span {
         display: flex;
      }

      small {
         margin-right: 4px;
         font-size: 10px;
         margin-left: 1px;
         margin-top: 2px;
      }
   }

   &__content {
      padding: 10px 0px 0px;
   }

   // &__title {
   //    font-size: 16px;
   //    font-weight: bold;
   //    margin-bottom: 6px;
   //    color: #222;
   //    font-family: "Begum";
   // }

   &__desc {
      font-family: "Acumin Variable";
      font-size: 14px;
      color: #666;
      margin-bottom: 10px;
      line-height: 1.4;
   }

   &__bottom {
      display: flex;
      flex-direction: column;
      gap: 10px;
   }

   &__actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .kse-btn {
      width: 100%;
      text-align: center;
   }

   &__title {
      font-size: 13px;
      font-weight: bold;
      margin-bottom: 6px;
      min-height: 55px;
      font-family: 'Begum';

      a {
         text-decoration: none;
         color: #000;

         &:hover {
            color: #000;
         }
      }
   }

   &__desc {
      font-size: 14px;
      color: #666;
      margin-bottom: 10px;
      line-height: 1.4;
      display: none;
   }

   &__bottom {
      display: flex;
      flex-direction: column;
      gap: 10px;
   }

   &__price {
      font-size: 14px;
      font-weight: bold;
      color: #414141;
      font-family: "Acumin Variable Concept";
      padding-bottom: 10px;
   }

   &__actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .kse-btn {
      width: 100%;
      text-align: center;
      height: 35px;
   }
}

.kse-qty {
   display: flex;
   align-items: center;
   gap: 8px;

   &__btn {
      width: 10px;
      border: none;
      cursor: pointer;
      font-size: 18px;
      padding: 0px;
      font-weight: 600;
      color: #474747;

      &:hover {
         // background: #ccc;
         color: #333333;
      }
   }

   &__count {
      width: 35px;
      height: 20px;
      font-size: 14px;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      text-align: center;
      border-width: 0px 1px;
      text-align: center;
   }
}

.kse-cart-btn {
   width: 40px;
   height: 35px;
   border: none;
   background: #9e9e9e;
   color: #fff;
   border-radius: 6px;
   cursor: pointer;
   font-size: 16px;
   display: flex;
   justify-content: center;
   align-items: center;

   img {
      width: 85%;
   }

   &:hover {
      background: #7d7d7d;
   }
}