.kse-vinyl-art {
   &.kse-tiny-cluck {
      background: #fff;
      border-radius: 0;
      padding: 60px 30px;
      justify-content: center;
      @include mobile {
         flex-direction: column-reverse;
         padding: 40px 20px;
      }
      .kse-tiny-cluck__images {
         max-width: 600px;
         img {
            width: 160px;
            @include mobile-tablet {
               width: 120px;
            }
         }
      }
   }
}
