.kse-btn {
    display: inline-block;
    padding: 12px 42px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    background: linear-gradient(90deg,
            #f14e54 0%,
            #f36a6f 40%,
            #f68a8e 100%);
    border: 2px solid #ffffff;
    border-radius: 10px;
    transition: background 3s ease-in-out;

    &:hover {
        color: #ffffff;
        background: linear-gradient(90deg,
                #f68a8e 0%,
                #f36a6f 40%,
                #f14e54 100%);
        transition: background 3s ease-in-out;
    }
}